<launch>
  <include file="$(find rikirobot)/launch/lidar/$(env RIKILIDAR).launch" />
  <arg name="map_file" default="$(find rikirobot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find rikirobot)/launch/amcl.launch" />
  <include file="$(find rikirobot)/param/navigation/move_base.xml" />
</launch>
